.fancy-header {
    color: darkred;
    text-decoration: underline;
    text-align: center;
}

h2 {
    color: darkred;
    text-decoration: underline;
}

body {
    background-color: slategray;
    background-image: url("/img/background-image.jpeg");
    background-size: 400px;
    font-family: cursive;
}

table, th, td {
    border: 1px solid;
    background-color: lightsteelblue;
    border-collapse: collapse;
    text-align: center;
}

th {
    width: 150px;
    text-decoration: underline;
}

ul {
    list-style: circle inside;
}

ol {
    list-style: upper-roman;
}

/* Links in different states*/
a:link {color:red;} /*unvisited link*/
a:visited {color:black;}
a:hover {color:blue;}
a:active {color:green;} /*while clicking on it*/